extends layout

block content 
    h1 Delete Book instance: #{bookInstance.imprint}

    p Do you really want to delete this Book instance?

        form(method='POST' action='')
            div.form-group
            input#authorid.form-control(type='hidden',name='authorid', required='true', value=bookInstance._id )

            button.btn.btn-primary(type='submit') Delete